.mono/

clash/

coc/

gh/

iterm2/

jgit/

Library/

lvim/

Microsoft/VisualStudio Services/

mpv/

spacebar/

NuGet/

pip/

rizin/

stetic/

timestamps/

wireshark/

xbuild/

Pinta/

svim/

nvim_old

vifm/lastdir

fish/fish_variables

tmux/plugins/

spicetify/

vifm/vifminfo.json
